<div class="form-row">
  <div class="col-md-12 mb-3">
    <div class="shift"><%= field.label %></div>
    <div class="form-control  form-control-lg">

      <% if( field.buttons.length ) { %>

        <% for( var index = 0; index < field.buttons.length; index++ ) { %>

          <% var box = field.buttons[index] %>
          <%# console.log( box ) %>

          <div class="form-check form-check-inline">
            <input class="form-check-input" type="<%= field.type %>" name="<%= box.name %>" id="<%= box.machineName %>" value="<%= box.value %>">
            <label class="form-check-label" for="<%= box.machineName %>"> <%= box.label %></label>
          </div>

          <% } %>

        <% } %>

    </div>
  </div>
</div>
