<% if (typeof field.placeHolder != 'undefined') { %>
  <% var attribute = 'placeholder="' + field.placeHolder + '"' %>
  <% } else { %>
  <% var attribute = 'value="' + field.currentDate + '"' %>
<% } %>

<div class="col form-group">
  <label for="<%= field.machineName %>"><%= field.label %></label>
  <input type="<%= field.type %>" name="<%= field.machineName %>" id="<%= field.machineName %>" class="form-control  form-control-lg" <%- attribute %>>
</div>
